html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  word-break: break-word;
}

body {
  background: #FAFBFF;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

section {
  overflow: hidden;
}

*:before,
*:after,
a,
button,
svg,
path,
span,
li,
p {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-size: inherit;
}

a {
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

input {
  background: #F9FBFF;
  border-radius: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  border: none;
  padding: 10px;
  color: #B5B7C0;
}
input:focus {
  outline: none;
}
input::-webkit-input-placeholder {
  color: #B5B7C0;
}
input::-moz-placeholder {
  color: #B5B7C0;
}
input:-ms-input-placeholder {
  color: #B5B7C0;
}
input::-ms-input-placeholder {
  color: #B5B7C0;
}
input::placeholder {
  color: #B5B7C0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 306px;
  height: 100%;
  -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  background-color: #FFF;
  padding: 36px 28px 0px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.sidebar::-webkit-scrollbar {
  width: 0;
}
.sidebar__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__list {
  margin-bottom: 53px;
}
.sidebar__list li {
  padding: 11px;
  cursor: pointer;
  color: #9197B3;
  border-radius: 8px;
  background-color: #FFF;
  letter-spacing: -0.01em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.sidebar__list li:not(:last-child) {
  margin-bottom: 18px;
}
.sidebar__list li .arrow {
  position: absolute;
  top: 50%;
  right: -6px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 16px;
  height: 16px;
}
.sidebar__list li svg {
  margin-right: 14px;
}
.sidebar__list li svg path {
  fill: #9197B3;
}
.sidebar__list li:hover, .sidebar__list li.active {
  color: #FFF;
  background-color: #5932EA;
}
.sidebar__list li:hover svg path, .sidebar__list li.active svg path {
  fill: #FFF;
}
.sidebar__list li.active {
  pointer-events: none;
}
.sidebar__bottom {
  margin-top: auto;
  padding-bottom: 76px;
}
.sidebar__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__user img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 12px;
}
.sidebar__user h3 {
  letter-spacing: 0.01em;
}
.sidebar__user p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #757575;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 53px;
}
.logo span {
  color: #838383;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.01em;
  margin: 0px 0px 6px 4px;
}

.tabs__wrapper {
  margin-left: 306px;
  padding: 41px 95px 41px 71px;
}
.tabs__title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 51px;
}
.tabs__item {
  background: #FFF;
  -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  padding: 30px 44px 40px 38px;
  overflow: hidden;
}
.tabs__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 41px;
}
.tabs__top h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  margin-bottom: 6px;
}
.tabs__top p {
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #16C098;
}
.tabs__input {
  position: relative;
  width: 216px;
  margin: 0 9px 8px 0;
}
.tabs__input input {
  padding: 10px 10px 10px 40px;
  width: 100%;
}
.tabs__input::before {
  content: "";
  position: absolute;
  top: 49%;
  left: 8px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 24px;
  height: 24px;
  background: url("../img/search.svg");
}
.tabs__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tabs__total {
  padding-right: 50px;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}
.tabs__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs__pagination li {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #404B52;
  background: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
}
.tabs__pagination li svg {
  fill: #404B52;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.tabs__pagination li:not(:last-child) {
  margin-right: 13px;
}
.tabs__pagination li:hover, .tabs__pagination li.active {
  background: #5932EA;
  border: 1px solid #5932EA;
  color: #FFF;
}
.tabs__pagination li:hover svg, .tabs__pagination li.active svg {
  fill: #FFF;
}
.tabs__pagination li.active {
  pointer-events: none;
}
.tabs__pagination li.no-number {
  border: none;
  padding: 0;
  background: none;
  pointer-events: none;
  width: 9px;
}

.customers {
  margin-bottom: 30px;
}
.customers-name {
  max-width: 147px;
}
.customers-company {
  max-width: 106px;
}
.customers-phone {
  max-width: 131px;
}
.customers-email {
  max-width: 182px;
}
.customers-country {
  max-width: 115px;
}
.customers__arrow {
  display: none;
}
.customers-status {
  max-width: 80px;
  text-align: center;
}
.customers-status-btn {
  padding: 3px 5px;
  border-radius: 4px;
  width: 100%;
  display: block;
}
.customers-status-btn.active {
  color: #008767;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
}
.customers-status-btn.inactive {
  color: #DF0404;
  background: #FFC5C5;
  border: 1px solid #DF0404;
}
.customers__header {
  padding-bottom: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.customers__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 200%;
  height: 1px;
  background-color: #EEEEEE;
}
.customers__header li {
  color: #B5B7C0;
  width: 100%;
  letter-spacing: -0.01em;
}
.customers__header li:not(:last-child) {
  margin-right: 10px;
}
.customers__item {
  padding: 19px 0;
  border-bottom: 1px solid #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.customers__item li, .customers__item a {
  letter-spacing: -0.01em;
  color: #292D32;
}
.customers__item a:hover {
  color: #5932EA;
}
.customers__item li {
  width: 100%;
}
.customers__item li:not(:last-child) {
  margin-right: 10px;
}
.customers__item .hide-desktop {
  display: none;
}

@media (max-width: 1400px) {
  .sidebar {
    width: 250px;
    padding: 30px 15px 0px;
  }
  .sidebar__bottom {
    padding-bottom: 45px;
  }

  .logo {
    margin-bottom: 47px;
  }
  .logo img {
    max-width: 170px;
  }

  .tabs__wrapper {
    margin-left: 250px;
    padding: 30px;
  }
  .tabs__item {
    padding: 45px 30px;
  }
  .tabs__input {
    margin-right: 0;
  }
}
@media (max-width: 1250px) {
  .customers__header li {
    font-size: 12px;
  }
  .customers__header li span {
    display: none;
  }
  .customers-name {
    max-width: 100px;
  }
  .customers-company {
    max-width: 80px;
  }
  .customers-phone {
    max-width: 100px;
  }
  .customers-email {
    max-width: 149px;
  }
  .customers-country {
    max-width: 95px;
  }
  .customers__item li {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .sidebar__bottom {
    padding-bottom: 30px;
  }

  .tabs__wrapper {
    padding: 30px 15px;
  }
  .tabs__top {
    margin-bottom: 30px;
  }
  .tabs__top h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .tabs__item {
    padding: 30px 15px;
  }
  .tabs__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tabs__total {
    padding: 0;
  }
  .tabs__pagination {
    margin-bottom: 15px;
    width: 100%;
  }

  .customers {
    margin-bottom: 25px;
  }
  .customers-name {
    max-width: 100%;
    position: relative;
    cursor: pointer;
  }
  .customers-company {
    max-width: 100%;
  }
  .customers-phone {
    max-width: 100%;
  }
  .customers-email {
    max-width: 100%;
  }
  .customers-country {
    max-width: 100%;
  }
  .customers-status {
    max-width: 100%;
    text-align: left;
  }
  .customers-status-btn {
    width: 80px;
    display: inline-block;
    text-align: center;
  }
  .customers__arrow {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    -webkit-transform: rotate3d(0, 0, 0, 190deg);
            transform: rotate3d(0, 0, 0, 190deg);
  }
  .customers__arrow svg {
    fill: #292D32;
  }
  .customers__arrow svg:hover {
    fill: #5932EA;
  }
  .customers__arrow.active {
    -webkit-transform: rotate3d(1, 0, 0, 190deg);
            transform: rotate3d(1, 0, 0, 190deg);
  }
  .customers__header {
    padding-bottom: 10px;
  }
  .customers__header li {
    font-size: 14px;
  }
  .customers__header li:not(:first-child) {
    display: none;
  }
  .customers__header li span {
    display: inline-block;
  }
  .customers__item {
    padding: 15px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .customers__item li {
    font-size: 14px;
  }
  .customers__item li:not(:last-child) {
    margin: 0;
  }
  .customers__item li:not(:first-child) {
    margin: 10px 0 0 0;
    display: none;
  }
  .customers__item .hide-desktop {
    color: #B5B7C0;
    width: 150px;
    display: inline-block;
  }
  .customers__item.active li:not(:first-child) {
    display: block;
  }
}